<div class="page-header">
    <h1>Категории задач</h1>
</div>

<div class="alert alert-info" role="alert" *ngIf="!isUser">
    <a href="#" (click)="doAction('login')">Авторизуйтесь</a> или
    <a href="#" (click)="doAction('register')">Зарегистрируйтесь</a>
</div>


<div *ngIf="isUser">



    <div class="alert alert-info" role="alert" *ngIf="!hasCategories()">
        Нет категорий
    </div>

<ul class="list-group" *ngIf="hasCategories()">


    <li class="list-group-item" *ngFor="let item of list; let i = index; let l = last;">
        <div class="row">
            <div class="col-sm-1">
                <div class="row">
                    <div class="col-sm-6"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-up" [class.hidden]="i==0"  [disabled]="edit" (click)="move(item, 'up')"></button></div>
                    <div class="col-sm-6"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-down" [class.hidden]="l"  [disabled]="edit" (click)="move(item, 'down')"></button></div>
                </div>
            </div>
            <div class="col-sm-8" >

                <div (dblclick)="startEditName(item)"  *ngIf="edit!=item">{{item.name}}</div>

                <div class="col-sm-8" *ngIf="edit==item">
                    <input type="text" [(ngModel)]="edit.name" class="form-control" (keypress)=finishEditName($event)/>
                </div>

                <div class="col-sm-2" *ngIf="edit==item">
                    <button type="button" class="btn btn-info" (click)="cancelEdit()"><span class="glyphicon glyphicon glyphicon-remove">Отменить</span></button>
                </div>

                <div class="col-sm-2" *ngIf="edit==item">
                    <button type="button" class="btn btn-success" (click)="finishEditName(true)"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                </div>

            </div>





            <div class="col-sm-3">
                <span class="pull-right">
                    <button type="button" class="btn btn-info" (click)="startEditName(item)" [disabled]="edit"><span class="glyphicon glyphicon glyphicon-pencil">Редактировать</span></button>
                    <button type="button" class="btn btn-danger" (click)="deleteCategory(item)" [disabled]="edit"><span class="glyphicon glyphicon glyphicon-remove">Удалить</span></button>
                </span>
            </div>
        </div>
    </li>

</ul>


<form role="form" [ngFormModel]="form">

    <div *ngIf="form.dirty && !form.valid" style="margin: 15px auto; color: #f00; text-align: left">
        <div *ngIf="form.find('name').errors && form.find('name').dirty">{{form.find('name').errors['error']}}</div>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
                <input type="text" class="form-control" [ngFormControl]="form.controls['name']" [disabled]="edit"/>
            </div>

            <div class="col-xs-2">
                <button type="button" class="form-control btn btn-primary" (click) = "addCategory()" [disabled]="edit || !form.valid || form.pending"><span class="glyphicon glyphicon glyphicon glyphicon-plus">Добавить</span></button>
            </div>


        </div>
    </div>


</form>

</div>