<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['Home']">Главная</a></li>
            <li><a [routerLink]="['Categories']">Категории задач</a></li>
        </ul>

        <!-- guest -->
        <ul class="nav navbar-nav navbar-right" *ngIf="!isUser">
            <li><a href="#" (click)="showAuthForm()"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            <li><a href="#" (click)="showRegisterForm()"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
        </ul>
        <!-- guest -->

        <!-- user -->
        <ul class="nav navbar-nav navbar-right" *ngIf="isUser">
            <li><a [routerLink]="['Account']"><span class="glyphicon glyphicon-user"></span> {{getUserName()}}</a></li>
            <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        </ul>
        <!-- user -->
    </div>
</nav>


<router-outlet></router-outlet>
<auth-form header="Форма авторизации"></auth-form>
<register-form></register-form>
<confirm-window></confirm-window>
<alert-window></alert-window>



