.task-complete {
    background-color: #00aa00 !important;
}


.task-incomplete {
    background-color: #ff0000 !important;
}



.no-padding {
    padding: 0 !important;
}



input.ng-dirty.ng-invalid {
    border: 1px solid #f00 !important;
}

.bgc-red {
    background-color: #f1b8e7;
}

.router-link-active {
    color: #FF6E97 !important;
}

.row-bmargin-10 {
    margin-bottom: 10px!important;
}