<div class="panel-body">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" [class.active]="currentFilter=='all'"><a href="#" (click)="filter('all')">Все <span class="badge">{{getCount('all')}}</span></a></li>
        <li role="presentation" [class.active]="currentFilter=='undone'"><a href="#" (click)="filter('undone')">Незавершенные <span class="badge">{{getCount('undone')}}</span></a></li>
        <li role="presentation" [class.active]="currentFilter=='done'"><a href="#" (click)="filter('done')">Завершенные <span class="badge">{{getCount('done')}}</span></a></li>
    </ul>
</div>