<div class="modal fade" tabindex="-1" role="dialog" id="confirm-window">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" *ngIf="title">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                {{content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="ok()">ОК{{getDowncount()}}</button>
            </div>
        </div>
    </div>
</div>