<div id="register-form" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Авторизация</h5>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form" [ngFormModel]="form">


                    <div *ngIf="form.dirty && !form.valid" style="margin: 15px auto; color: #f00; text-align: center">
                        <div *ngIf="form.find('login').errors && form.find('login').dirty">{{form.find('login').errors['error']}}</div>
                        <div *ngIf="form.find('password').errors && form.find('password').dirty">{{form.find('password').errors['error']}}</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="auth_login">Логин:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="auth_login" placeholder="Введите логин" [ngFormControl]="form.controls['login']">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3" for="auth_password">Пароль:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="auth_password" placeholder="Введите пароль" [ngFormControl]="form.controls['password']">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-11">
                            <div class="checkbox">
                                <label><input type="checkbox" [ngFormControl]="form.controls['remember']"> Запомнить меня</label>
                            </div>
                        </div>
                    </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || form.pending">Войти</button>
                            <button type="button" class="btn btn-danger" (click)="hide()">Отмена</button>
                        </div>

                </form>


            </div>

        </div>

    </div>
</div>