<div id="change-password-form" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Смена пароля</h5>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form" [ngFormModel]="form">


                    <div *ngIf="form.dirty && !form.valid" style="margin: 15px auto; color: #f00; text-align: center">
                        <div *ngIf="form.find('password').errors && form.find('password').dirty">{{form.find('password').errors['error']}}</div>
                        <div *ngIf="form.find('password1').errors && form.find('password1').dirty">{{form.find('password1').errors['error']}}</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="changepsw_password">Пароль:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control"  id="changepsw_password" placeholder="Введите пароль" [ngFormControl]="form.controls['password']">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3" for="changepsw_password1">Повтор пароля:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control"  id="changepsw_password1" placeholder="Введите повтор пароля" [ngFormControl]="form.controls['password1']">
                        </div>
                    </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || form.pending">Сохранить</button>
                            <button type="button" class="btn btn-danger" (click)="hide()">Отмена</button>
                        </div>

                </form>


            </div>

        </div>

    </div>
</div>