<div id="register-form" class="modal fade1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Регистрация</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" [ngFormModel]="form">


                    <div *ngIf="form.dirty && !form.valid" style="margin: 15px auto; color: #f00; text-align: center">
                        <div *ngIf="form.find('login').errors && form.find('login').dirty">{{form.find('login').errors['error']}}</div>
                        <div *ngIf="form.find('email').errors && form.find('email').dirty">{{form.find('email').errors['error']}}</div>

                        <div *ngIf="form.find('lastname').errors && form.find('lastname').dirty">{{form.find('lastname').errors['error']}}</div>
                        <div *ngIf="form.find('firstname').errors && form.find('firstname').dirty">{{form.find('firstname').errors['error']}}</div>
                        <div *ngIf="form.find('middlename').errors && form.find('middlename').dirty">{{form.find('middlename').errors['error']}}</div>


                        <div *ngIf="form.find('password').errors && form.find('password').dirty">{{form.find('password').errors['error']}}</div>
                        <div *ngIf="form.find('password1').errors && form.find('password1').dirty">{{form.find('password1').errors['error']}}</div>
                        <div *ngIf="form.find('confirm').errors && form.find('confirm').dirty">{{form.find('confirm').errors['error']}}</div>
                    </div>





                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_login">Логин:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="reg_login" placeholder="Введите логин" [ngFormControl]="form.controls['login']">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_email">Email:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="reg_email" placeholder="Введите Email" [ngFormControl]="form.controls['email']">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_lastname">Фамилия:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="reg_lastname" placeholder="Введите Фамилию" [ngFormControl]="form.controls['lastname']">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_firstname">Имя:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="reg_firstname" placeholder="Введите Имя" [ngFormControl]="form.controls['firstname']">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_middlename">Отчество:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="reg_middlename" placeholder="Введите Отчество" [ngFormControl]="form.controls['middlename']">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_address">Адрес:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="reg_address" placeholder="Введите Адрес" [ngFormControl]="form.controls['address']"></textarea>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_password">Пароль:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="reg_password" placeholder="Введите пароль" [ngFormControl]="form.controls['password']">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="reg_password1">Повтор пароля:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="reg_password1" placeholder="Введите повтор пароля" [ngFormControl]="form.controls['password1']">
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-11">
                            <div class="checkbox">
                                <label><input type="checkbox" [ngFormControl]="form.controls['confirm']"> Согласен с условиями</label>
                            </div>
                        </div>
                    </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="submit()" [disabled]="!form.valid || form.pending">Зарегистрировать</button>
                            <button type="button" class="btn btn-danger" (click)="hide()">Отмена</button>
                        </div>

                </form>


            </div>

        </div>

    </div>
</div>