<div class="page-header">
    <h1>Мои данные</h1>
</div>


<form [ngFormModel]="form" *ngIf="form">

    <div *ngIf="form.dirty && !form.valid" style="margin: 15px auto; color: #f00; text-align: center">
        <div *ngIf="form.find('login').errors && form.find('login').dirty">{{form.find('login').errors['error']}}</div>
        <div *ngIf="form.find('email').errors && form.find('email').dirty">{{form.find('email').errors['error']}}</div>
        <div *ngIf="form.find('lastname').errors && form.find('lastname').dirty">{{form.find('lastname').errors['error']}}</div>
        <div *ngIf="form.find('firstname').errors && form.find('firstname').dirty">{{form.find('firstname').errors['error']}}</div>
        <div *ngIf="form.find('middlename').errors && form.find('middlename').dirty">{{form.find('middlename').errors['error']}}</div>
        <div *ngIf="form.find('address').errors && form.find('address').dirty">{{form.find('address').errors['error']}}</div>
    </div>


    <!-- login -->
    <div class="row row-bmargin-10">
        <div class="col-sm-2 text-right"><strong>Логин:</strong></div>

        <div class="col-sm-8" (dblclick)="startEdit('login')" *ngIf="edit!='login'">{{userData.login}}</div>

        <div class="col-sm-2" *ngIf="edit!='login'">
            <button type="button" class="btn btn-info" (click)="startEdit('login')"><span class="glyphicon glyphicon glyphicon-pencil">Редактировать</span></button>
        </div>


        <div class="col-sm-10" *ngIf="edit=='login'">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" [ngFormControl]="form.controls['login']" class="form-control" (keypress)="finishEdit($event)">
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" (click)="cancelEdit()"><span class="glyphicon glyphicon glyphicon-remove">Отменить</span></button>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="finishEdit(true)" [disabled]="!form.valid || form.pending"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login -->

    <!-- email -->
    <div class="row row-bmargin-10">
        <div class="col-sm-2 text-right"><strong>Email:</strong></div>

        <div class="col-sm-8" (dblclick)="startEdit('email')" *ngIf="edit!='email'">{{userData.email}}</div>

        <div class="col-sm-2" *ngIf="edit!='email'">
            <button type="button" class="btn btn-info" (click)="startEdit('email')"><span class="glyphicon glyphicon glyphicon-pencil">Редактировать</span></button>
        </div>

        <div class="col-sm-10" *ngIf="edit=='email'">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" [ngFormControl]="form.controls['email']" class="form-control" (keypress)="finishEdit($event)">
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" (click)="cancelEdit()"><span class="glyphicon glyphicon glyphicon-remove">Отменить</span></button>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="finishEdit(true)" [disabled]="!form.valid || form.pending"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- email -->

    <!-- lastname -->
    <div class="row row-bmargin-10">
        <div class="col-sm-2 text-right"><strong>Фамилия:</strong></div>

        <div class="col-sm-8" (dblclick)="startEdit('lastname')" *ngIf="edit!='lastname'">{{userData.lastname}}</div>

        <div class="col-sm-2" *ngIf="edit!='lastname'">
            <button type="button" class="btn btn-info" (click)="startEdit('lastname')"><span class="glyphicon glyphicon glyphicon-pencil">Редактировать</span></button>
        </div>

        <div class="col-sm-10" *ngIf="edit=='lastname'">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" [ngFormControl]="form.controls['lastname']" class="form-control" (keypress)="finishEdit($event)">
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" (click)="cancelEdit()"><span class="glyphicon glyphicon glyphicon-remove">Отменить</span></button>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="finishEdit(true)" [disabled]="!form.valid || form.pending"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- lastname -->

    <!-- firstname -->
    <div class="row row-bmargin-10">
        <div class="col-sm-2 text-right"><strong>Имя:</strong></div>

        <div class="col-sm-8" (dblclick)="startEdit('firstname')" *ngIf="edit!='firstname'">{{userData.firstname}}</div>

        <div class="col-sm-2" *ngIf="edit!='firstname'">
            <button type="button" class="btn btn-info" (click)="startEdit('firstname')"><span class="glyphicon glyphicon glyphicon-pencil">Редактировать</span></button>
        </div>

        <div class="col-sm-10" *ngIf="edit=='firstname'">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" [ngFormControl]="form.controls['firstname']" class="form-control" (keypress)="finishEdit($event)">
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" (click)="cancelEdit()"><span class="glyphicon glyphicon glyphicon-remove">Отменить</span></button>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="finishEdit(true)" [disabled]="!form.valid || form.pending"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- firstname -->

    <!-- middlename -->
    <div class="row row-bmargin-10">
        <div class="col-sm-2 text-right"><strong>Отчество:</strong></div>

        <div class="col-sm-8" (dblclick)="startEdit('middlename')" *ngIf="edit!='middlename'">{{userData.middlename}}</div>

        <div class="col-sm-2" *ngIf="edit!='middlename'">
            <button type="button" class="btn btn-info" (click)="startEdit('middlename')"><span class="glyphicon glyphicon glyphicon-pencil">Редактировать</span></button>
        </div>

        <div class="col-sm-10" *ngIf="edit=='middlename'">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" [ngFormControl]="form.controls['middlename']" class="form-control" (keypress)="finishEdit($event)">
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" (click)="cancelEdit()"><span class="glyphicon glyphicon glyphicon-remove">Отменить</span></button>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="finishEdit(true)" [disabled]="!form.valid || form.pending"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- middlename -->


    <!-- address -->
    <div class="row row-bmargin-10">
        <div class="col-sm-2 text-right"><strong>Адрес:</strong></div>

        <div class="col-sm-8" (dblclick)="startEdit('address')" *ngIf="edit!='address'">{{userData.address}}</div>

        <div class="col-sm-2" *ngIf="edit!='address'">
            <button type="button" class="btn btn-info" (click)="startEdit('address')"><span class="glyphicon glyphicon glyphicon-pencil">Редактировать</span></button>
        </div>

        <div class="col-sm-10" *ngIf="edit=='address'">
            <div class="row">
                <div class="col-sm-9">
                    <textarea class="form-control"  [ngFormControl]="form.controls['address']" (keypress)="finishEdit($event)"></textarea>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-info" (click)="cancelEdit()"><span class="glyphicon glyphicon glyphicon-remove">Отменить</span></button>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="finishEdit(true)" [disabled]="!form.valid || form.pending"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- address -->


    <!-- address -->
    <div class="row row-bmargin-10">
        <div class="col-sm-12 text-left">
            <button type="button" class="btn btn-danger"  [disabled]="edit" (click)="showChangePasswordForm()"><span class="glyphicon glyphicon-warning-sign"> Сменить пароль</span></button>
        </div>

    </div>
    <!-- address -->

    </form>

<change-password-form></change-password-form>